input {
    font-family: Arial;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 13px;
    padding-right: 13px;
    border-color: grey;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}

.first-name, .last-name {
    width: 120px;
}

.email {
    display: block;
    margin-top: 10px;
    width: 270px;
}

.sign-up-button {
    margin-top: 10px;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: rgb(0, 132, 255);
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 120px;
    padding-left: 120px;
    border: none;
    border-radius: 7px;
}